# Ignore everything by default.
# This allows us to maintain an allow list instead of an ignore list.
*

# Track this file
!.gitignore

# Main HAAS Config
!configuration.yaml

# Packages in Home Assistant provide a way to bundle different component’s configuration together.
!packages
!packages/*

# Dashboard config
!ui-lovelace.yaml
# Contains area based dashboard config
!areas
!areas/*

# Other top level configs
!sensors.yaml

# ESPHome
!esphome
!esphome/*.yaml
secrets.yaml
